<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Detail</title>
    <style>
        body{
            margin: 0;
            background-color: aliceblue;
        }
        #table1{
            border-color: red;
            margin-left: 40px;
            margin-top: 20px;
        }
        #myDIV{
            margin-left: 35%;
        }
    </style>
</head>
<body>
   <div id="myDIV" class="header">
      <h2>Lists Items</h2>
       <a href="/index">back</a>
       <a  style="margin-left: 20px" href="/additem" class="addBtn">Add</a>
       <a style="margin-left: 20px" href="/additem" class="addBtn">Filter</a>
    </div>
  <table id="table1" >
      {% for rs in item %}
        <tr>
            <td class="tex-left">To do:  {{ rs.name }}</td>
            <td class="tex-left">| Creat date: {{ rs.created_at }}</td>
            <td class="tex-left">| Deadline: {{ rs.deadline }}| </td>
            <td class="text-left">| Description {{ rs.description }}</td>
            <td><a style="margin-left: 38%" href="/additem" class="addBtn">DELETE</a></td>
            <td><a style="margin-left: 38%" href="/additem" class="addBtn">COMPLATED</a></td>
        </tr>
      {% endfor %}
  </table>



</body>
</html>